<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand home">Mongo CBR Scraper</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
        <button type="button" class="btn btn-link"><span class="glyphicon glyphicon-home"></span></button>
            <a class="nav-item nav-link saved-articles">Saved Articles</a>
            {{#unless articles}}
            <button class='btn btn-md btn-success' id='scrape'>Scrape Articles!</button>
            {{/unless}} {{#if articles}}
            <button class='btn btn-md btn-danger' id='delete-articles'>Delete Articles</button>
            {{/if}}
        </div>
    </div>
</nav>
<div class="jumbotron">
    <div class='container text-center center'>
        <h1 class="display-4" id="jumbotron-text">
            <strong>Mongo Scraper
            </strong>
        </h1>
        <p class="lead" id="jumbotron-lead">CBR Edition</p>
    </div>
</div>
<div class="col-md-12">
    {{#unless articles}}
    <h2 class="heading text-center">No new articles...yet!</h2>
    {{/unless}}
    <ul>
        {{#each articles}} {{#unless saved}} {{> articles/articles-block}} {{/unless}} {{/each}}
    </ul>
</div>